#nothing-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 400px);

	.text-nothing {
		font-size: 20px;
		color: #afafaf;
		margin-top: 16px;
	}
}
