@import './App.scss';
@import './td-custom.scss';

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(235 235 235 / 50%)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(193 193 193 / 50%);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }