.content-div {
  display: flex;
  margin-bottom: 20px;
  margin-right: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  .row-card {
    width: 100%;
    margin-bottom: 4px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .detail {
      position: relative;
      flex-grow: 1;
      align-items: center;
      padding: 21px 24px;
      background-color: #fff;
      border-radius: 6px;
      width: 100%;
      border: 1px solid #ececec;

      font-size: 14px;
    }
    .detail-2 {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 15px 18px;
      background-color: #fff;
      border-radius: 7px;
      border-radius: 4px;
      width: 100%;
      border: 1px solid #ececec;
      font-size: 14px;
    }
  }
  .arrow-right{
    position: absolute;
    right: 19px;
    color: #585858;
  }
}


