.content-div {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  .row-card {
    width: 100%;
    margin-bottom: 10px;
    .detail {
      position: relative;
      flex-grow: 1;
      align-items: center;
      padding: 21px 24px;
      background-color: #fff;
      border-radius: 4px;
      width: 100%;
      border: 1px solid #ececec;

      font-size: 14px;
    }
    .detail-2 {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 15px 18px;
      background-color: #fff;
      border-radius: 7px;
      border-radius: 4px;
      width: 100%;
      border: 1px solid #ececec;
      font-size: 14px;
    }
  }
  .arrow-right{
    position: absolute;
    right: 19px;
    color: #585858;
  }
}


